<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Add New Non-Inventory Item</h3>
    </div>
    <div class="panel-body" id="addNewNonInventoryItemFormBody">
         <form role="form" id="addNewNonInventoryItemForm">
             <div class="form-group">
                 <label for="quantityInput">Quantity:</label>
                 <input type="text" class="form-control" id="quantityInput" placeholder="Enter the amount on hand...">
             </div>
        </form>
    </div>
</div>