html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-image: url('/static/images/blackfelt.png');
}


.panel {
    border-color: black;
    background: #2f384f; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #2f384f 0%, #242b3c 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#2f384f), color-stop(100%,#242b3c)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #2f384f 0%,#242b3c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #2f384f 0%,#242b3c 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #2f384f 0%,#242b3c 100%); /* IE10+ */
    background: radial-gradient(ellipse at center, #2f384f 0%,#242b3c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f384f', endColorstr='#242b3c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    box-shadow: 2px 2px #000000;

}

.panel {

}

.panel {
    padding: 0px;
    color: #cccccc;
}

.panel-heading {
    background-color: #0F1A33;
    border-color: #292E3B;
}

label {
    color: #cccccc;
}

#mainblock {
    margin-top: 100px;
}

#signInOrRegisterText {
    color: #cccccc;
    margin-left: 5px;
    margin-right: 5px;
}

#registrationFormDiv {
    padding-top: 10px;
    margin-top: 150px;
}
/* These are rules for the label management page */
#labelListBox, #categoryListBox {
    width: 100%;
    height: 600px;
}

.lblMgmtBtn, .catMgmtBtn {
    margin-bottom: 15px;
    border-color: #3a3a3a;
}

#addLabelBtn, #addCategoryBtn {
    margin-left: 15px;
    background-color: #7ae95f;
}

#delLabelBtn, #delCategoryBtn {
    background-color: #e4181c;
}

#labelMasterList, #categoryMasterList {
    height: 700px;
}

/* End label management page styles */

/* Begin Add New Equipment styles */
#addNewEquipmentDiv {
    margin-top: 50px;
}

#selectCreateItemType {
    background-color: black;
}

#createItemTypeBtn {
    background-color: #222222;
    border-color: #080808;
    color: #999999;
}
/* End Add New Equipment styles */

