html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-image: url('/static/images/blackfelt.png');
}


.panel {
    border-color: black;
    background: rgb(173,31,31); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(173,31,31,1) 0%, rgba(173,31,31,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(173,31,31,1)), color-stop(100%,rgba(173,31,31,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(173,31,31,1) 0%,rgba(173,31,31,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(173,31,31,1) 0%,rgba(173,31,31,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(173,31,31,1) 0%,rgba(173,31,31,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(173,31,31,1) 0%,rgba(173,31,31,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ad1f1f', endColorstr='#ad1f1f',GradientType=0 ); /* IE6-9 */
    color: #dfdfdf;
}

.panel-default > .panel-heading {
    background-color: #901017;
    border-color: #8c1017;
    color: #dbdbdb;
}

label {
    color: #dbdbdb;
    font-weight: lighter;
}

#mainblock {
    margin-top: 100px;
}

#signInOrRegisterText {
    color: #cccccc;
    margin-left: 5px;
    margin-right: 5px;
}

#registrationFormDiv {
    padding-top: 10px;
    margin-top: 150px;
}
/* These are rules for the label management page */
#labelListBox, #categoryListBox {
    width: 100%;
    height: 600px;
}

.lblMgmtBtn, .catMgmtBtn {
    margin-bottom: 15px;
    border-color: #3a3a3a;
}

#addLabelBtn, #addCategoryBtn {
    margin-left: 15px;
    background-color: #7ae95f;
}

#delLabelBtn, #delCategoryBtn {
    background-color: #e4181c;
}

#labelMasterList, #categoryMasterList {
    height: 700px;
}

/* End label management page styles */

/* Begin section for site-wide nav-pills */
.nav-pills > li.active > a {
    background-color: #222222;
    color: #999999;
}

.nav-pills > li.active > a:hover, .nav-pills > li > a:hover {
    color: white;
    background: #2e2e2e;

}
.nav-pills > li > a {
    color: #999999;
    background-color: #1D1D1D;
}
/* End site wide section for nav pills */