<div class="page-header">
    <h1>Create New Reservation</h1>
</div>
<div id="addNewReservationFormDiv" class="">
    <div class="row">
        <div class="panel panel-default col-lg-6" id="newCustomerFormDiv">
            <div class="panel-heading">
                <h2 class="panel-title">
                    Customer Information
                </h2>
            </div>
            <div class="panel-body">
                <span class="help-block">Fill out as much information as you know to search for the customer. If it is a new customer,
                click the New Customer button after filling out the form.</span>
                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="customerFirstName">First Name:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="customerFirstName" placeholder="Enter the customer's first name...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="customerFirstName">Last Name:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="customerLastName" placeholder="Enter the customer's last name...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="customerPhone">Phone:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="customerPhone" placeholder="Enter the customer's phone number...">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="customerEmail">E-Mail:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="customerEmail" placeholder="Enter the customer's e-mail address...">
                        </div>
                    </div>
                    <div id="newCustomerFormBtns" class="col-sm-5 col-sm-push-3">
                        <button type="submit" class="btn btn-default" id="newReservationFindCustomerBtn">Find</button>
                        <button type="button" class="btn btn-default" id="newReservationNewCustomerBtn">New Customer</button>
                    </div>
                </form>
            </div>
        </div>
        <div id="newReservationActionsDiv" class="panel panel-default col-lg-5 col-lg-offset-1">
            <div class="panel-heading">
                <h2 class="panel-title">View/Remove Actions from the Reservation</h2>
            </div>
            <div class="panel-body">
                <span class="help-block">The actions you create appear below. Click the Del button to remove them.</span>
            </div>
        </div>
    </div>
    <div id="newReservationNewActionDiv" class="panel panel-default col-lg-6">
        <div class="panel-heading">
            <h2 class="panel-title">
                Add Actions
            </h2>
        </div>
        <div class="panel-body">
            <span class="help-block">Here you can add actions to reservation.</span>
            <form role="form" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="actionType">Action Type:</label>
                    <div class="col-sm-8">
                        <select class="form-control">
                            <option value="pickup">Pickup</option>
                            <option value="dropoff">Dropoff</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="actionOperator">Operator:</label>
                    <div class="col-sm-8">
                        <select class="form-control">
                            <option value="pickup">Operator 1</option>
                            <option value="dropoff">Operator 2</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="startDateTime">Start:</label>
                    <div class="col-sm-8">
                        <div class="input-group date" id="startDateTime">
                            <input type='text' class="form-control" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="endDateTime">End:</label>
                    <div class="col-sm-8">
                        <div class="input-group date" id="endDateTime">
                            <input type='text' class="form-control" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="actionOrigin">Origin:</label>
                    <div class="col-sm-8">
                        <select id="actionOrigin" class="form-control">
                            <option value="pickup">Origin 1</option>
                            <option value="dropoff">Origin 2</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="actionDestination">Destination:</label>
                    <div class="col-sm-8">
                        <select id="actionDestination" class="form-control">
                            <option value="pickup">Destination 1</option>
                            <option value="dropoff">Destination 2</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-5">
                        <button type="submit" class="btn btn-default">Add Action</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>