<div class="panel col-md-3" id="labelMasterList">
    <div class="panel-heading">Labels</div>
    <div class="panel-body">
        <select multiple="multiple" id="labelListBox">

        </select>
    </div>
        <button type="button" class="btn btn-default btn-xs lblMgmtBtn" id="addLabelBtn" data-toggle="modal" data-target="#addNewLabelModal">
            <span class="glyphicon glyphicon-plus-sign"></span>
        </button>
        <button type="button" class="btn btn-default btn-xs lblMgmtBtn" id="delLabelBtn"><span class="glyphicon glyphicon-minus-sign"></span></button>
</div>

<div class="panel col-md-6 pull-right col-md-pull-1" id="categoryMasterList">
    <div class="panel-heading">Categories</div>
    <div class="panel-body">
        <select multiple="multiple" id="categoryListBox">
        </select>
    </div>
        <button type="button" class="btn btn-default btn-xs catMgmtBtn" id="addCategoryBtn"><span class="glyphicon glyphicon-plus-sign"></span></button>
        <button type="button" class="btn btn-default btn-xs catMgmtBtn" id="delCategoryBtn"><span class="glyphicon glyphicon-minus-sign"></span></button>
</div>


