<div class="page-header">
    <h1>Today's Actions</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>ActionType</th>
                    <th>Earliest</th>
                    <th>Latest</th>
                    <th>Origin</th>
                    <th>Destination</th>
                    <th>Notes</th>
                    <th>Operator</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
